footer {
  display: flex;
  justify-content: center;
}

.boxes {
  position: relative;
  max-width: 676px;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
  margin-top: 10px;
  margin: 5px auto;
  background: lightblue;
  color: darkblue;
}

.box-bottom {
  background: yellow;
  border: 2px solid darkblue;
  margin-top: 20px;
}

.box-middle {
  background: white;
  border: 2px solid darkblue;
}

.box-top {
  position: relative;
  background: lightgray;
  border: 2px solid darkblue;
  margin-bottom: 20px;
  color: red;
}

.container {
  background-color: lightblue;
}

.hero {
  position: relative;
  height: auto;
  width: auto;
  display: block;
  left: calc(50% - 661px/2 - 2px);
  margin-bottom: 15px;
}